<!DOCTYPE html> 
<html> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Login Page </title>

</head>  
<body>  
    <h1> Login Page </h1>
    <table>
    <tr>
        <td>
            <ul>
                <li>user name</li>
            </ul>
        </td>
        <td>
            <input type="text" placeholder="useer name" required>
        </td>
    </tr>
    
    </tr>
    <tr>
        <td>
            <ul>
                <li>password</li>
            </ul>
        </td>
        <td>
           <input type="password" required>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-left: 100px;">
            <button >Submit</button>
        </td>
    </tr>
   
</table>  

</body>   
</html>

